* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --JB: 'Jost-Bold';
    --JM: 'Jost-Medium';
    --JR: 'Jost-Regular';
    --JSB: 'Jost-SemiBold';
}

.container {
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.47) 25.63%, rgba(0, 0, 0, 0) 117.23%);
    backdrop-filter: blur(12px);
    padding: 21px 0;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav__list {
    list-style: none;
    display: flex;
    gap: 80px;
    align-items: center;
}

.nav__list-link {
    color: #FFF;
    text-decoration: none;
    border-top: 3px solid;
    border-bottom: 3px solid;
    border-radius: 5px;
    padding: 2px 0;
    transition: all 0.2s;
    font-family: var(--JM);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
}

.active {
    border-color: #FFA12A;
    padding: 10px 0;
    color: #FFF61B;
}

.nav__list-link:hover {
    padding: 10px 0;
    border-color: #FFA12A;
}

.nav__social-links {
    display: flex;
    gap: 30px;
    align-items: center;
}

.nsl__background {
    background: #111110b6;
    border-radius: 5px;
    width: 45px;
    height: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
    cursor: pointer;
}

.nsl__background img {
    opacity: 0;
    transition: all 1s;
}

.nsl__background:hover {
    height: 45px;
}

.nsl__background:hover .nsl__link-img {
    opacity: 1;
}

.nav__buttons {
    display: flex;
    align-items: center;
    gap: 50px;
}

.nav__buttons-link a {
    text-decoration: none;
    color: #FFF;
}